<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>STEP_API_KEY</key>
    <string>5tpTCeYsK5w01YUlV1qlda28nOHmnUSUFAhauObSCnon9QFd8vcjqc1AK8C1etC2e</string>
    <key>OPENAI_API_KEY</key>
    <string>your_openai_key_here</string>
</dict>
</plist>
